In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user='root',
    password = 'feleng18'
    
)
mycursor = mydb.cursor()
mycursor.execute('SHOW DATABASES')

for x in mycursor:
    print(x)

('information_schema',)
('ministrymanagementsystem',)
('mysql',)
('performance_schema',)
('sakila',)
('studentmanagementsystem',)
('sys',)
('world',)

In [5]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user='root',
    password = 'feleng18',
    database = 'studentmanagementsystem'
    
)
mycursor = mydb.cursor()
mycursor.execute('SHOW DATABASES')

for x in mycursor:
    print(x)

('information_schema',)
('ministrymanagementsystem',)
('mysql',)
('performance_schema',)
('sakila',)
('studentmanagementsystem',)
('sys',)
('world',)

In [7]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user='root',
    password = 'feleng18',
    database = 'ministrymanagementsystem'
    
)
mycursor = mydb.cursor()
mycursor.execute('SHOW TABLES')

for x in mycursor:
    print(x)

('ministryofagriculturedetails',)
('ministryoffinancedetails',)
('ministryofhealthdetails',)
('ministryofwomenaffairsdetails',)
('ministryofworksandhousingdetails',)

In [10]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user='root',
    password = 'feleng18',
    database = 'ministrymanagementsystem'
    
)
mycursor = mydb.cursor()
sql = 'INSERT INTO ministryofhealthdetails(ID,Department,Director,Departmentalstatus,dateofcreation,averagesalary)VALUES(%s,%s,%s,%s,%s,%s)'
val = (8,'FootballD','Dr Folashade Ojo','Semi-Active','2002-09-25',200000)
mycursor.execute(sql,val)

mydb.commit()

In [11]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user='root',
    password = 'feleng18',
    database = 'ministrymanagementsystem'
    
)
mycursor = mydb.cursor()
sql = 'INSERT INTO ministryofhealthdetails(ID,Department,Director,Departmentalstatus,dateofcreation,averagesalary)VALUES(%s,%s,%s,%s,%s,%s)'
val = [(9,'F1DE','Dr Joe Uju','Active','2012-04-25',300000),
       (10,'CDS','Dr Jane Akpan','Active','2012-10-15',350000)]


mycursor.executemany(sql,val)

mydb.commit()

In [12]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user='root',
    password = 'feleng18',
    database = 'ministrymanagementsystem'
    
)
mycursor = mydb.cursor()

mycursor.execute('SELECT * FROM ministryofhealthdetails')

for x in mycursor:
    print(x)

(1, 'Family Health', 'Dr Mercy Njoku', 'Active', datetime.date(1990, 2, 25), 250000.0)
(2, 'Public Health', 'Dr Ogunjobi Jame', 'Active', datetime.date(1970, 1, 30), 300000.0)
(3, 'Planning REsearch And Statistics', 'Dr Akpan Okon', 'Active', datetime.date(2000, 9, 14), 200000.0)
(4, 'Hospital Services', 'Dr Jane Ojone', 'Semi-Active', datetime.date(2005, 2, 24), 350000.0)
(5, 'Processing Appointment', 'Dr Bala Lawal', 'Active', datetime.date(2002, 3, 15), 250000.0)
(6, 'Food and Drugs', 'Dr Godswill Chukwuemeka', 'Active', datetime.date(1990, 5, 1), 450000.0)
(7, 'The Department of Sponsors', 'Dr Akin ojo', 'Inactive', datetime.date(2001, 9, 30), 350000.0)
(8, 'FootballD', 'Dr Folashade Ojo', 'Semi-Active', datetime.date(2002, 9, 25), 200000.0)
(9, 'F1DE', 'Dr Joe Uju', 'Active', datetime.date(2012, 4, 25), 300000.0)
(10, 'CDS', 'Dr Jane Akpan', 'Active', datetime.date(2012, 10, 15), 350000.0)