In [1]:
numbers = (46,53,45,48,55,45,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)

In [23]:
result = reversed(numbers)
result = tuple(result)
print(result)

(55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 45, 55, 48, 45, 53, 46)

In [24]:
numbers[10]

58

In [31]:
numbers.count(55)

5

In [32]:
numbers[7],numbers[14],numbers[20]

(49, 57, 57)

In [33]:
numbers = [46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55]
numbers.reverse()
print(numbers)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46]

In [37]:
numbers[11]

58

In [38]:
numbers.count(51)

2

In [39]:
numbers[14],numbers[1],numbers[7]

(49, 57, 57)

In [47]:
numbers = [46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55]
numbers.insert(7,'69')
print(numbers)

[46, 53, 45, 48, 55, 45, 49, '69', 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]

In [48]:
numbers2 = [89,85,36,95,45,78]
numbers.extend(numbers2)
print(numbers)

[46, 53, 45, 48, 55, 45, 49, '69', 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55, 89, 85, 36, 95, 45, 78]

In [51]:
Arsenal ={
    'location':'England',
    'Manager':'Mikel Arteta',
    'Captain':'Alexander Lacazette',
    'Networth':'70 billion',
    'Formation':'4-2-3-1'
}

In [ ]:
details ={
    'chelsea':['England','Thomas Tuchel','Jorginho','70 billion',3-2-3-1-1],
    'Man United':['England','Ralph Ragnick','Harry Maguire','71 billion',4-3-3],
    'Mancity':['England','Pep Guardiola','Kevin Debruyne','100 billion',4-3-3],
    'Liverpool':['England','Jorden Klopp','Jordan Henderson','100 billion',4-3-3],
    'Real madrid':['Spain','Carlos Ancelloti','Karim Benzima','120 billion'4-3-3],
    'Barcelona':['Spain','Xavi','Sergio Busquets','120 billion',4-3-3],
    'Athletico Madrid':['Spain','Diego Simione','Oblak','90 billion',4-4-2],
    'Tothenham':['Englan','Antonio Conte','Harry Kane','60 billion',4-3-3],
    'Everton':['England','Frank Lampard','Pickford','50 billion',4-5-1],
}